config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="it.unipi.aide.iot.config.ConfigurationParameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="databaseIp" type="xs:string"/>
                <xs:element name="databasePort" type="xs:int"/>
                <xs:element name="databaseUsername" type="xs:string"/>
                <xs:element name="databasePassword" type="xs:string"/>
                <xs:element name="databaseName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>